.tabContainer {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 0 0.75rem 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tabActive {
  transform: scale(1.03);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
